@import "../../styles.scss";

.userlist {
    @include dFlex($jf: flex-start, $g: 12px);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 6px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    width: 230px;
    >img {
        height: 50px;
        width: 50px;
        border-radius: 32px;
    }
}

.userdata {
    >span {
        font-size: 22px;
        font-weight: bold;
        color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.player-active {
    background-color: orange;
}