body {
    margin: 0;
}

@mixin dFlex($display: flex, $jf: center, $ai: center, $g: 0) {
    display: $display;
    justify-content: $jf;
    align-items: $ai;
    gap: $g;
}

@mixin backgroundImage() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}